
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Anton|Muli:300);

body 
{

font-family: 'Roboto', sans-serif;
width: 100%;
height: 3238px;
background-image: url(../images/BG.png);
background-size: cover;
background-repeat: no-repeat;
background-position-x:center;
background-color: #22114e;
}

@media(max-width: 768px)
{
  body
  {
    background-image: url(../images/BG_mobile.png);
    background-color: #22114e;
  }
}

footer
{
    background-color: transparent;
}

.popup1
{
	display:none;
	z-index:1001;
    
    width: 100%;
    height: 100%;
}
.popup2
{
    display:none;
    z-index:1001;
    
    width: 100%;
    height: 100%;
}
.con
{
    height: 80%; top:30; width: 50%; margin:10px;background-color: rgba(0,0,0,0.2);
}
@media(max-width:768px )
{
    .con
    {
        height: 80%; width: 90%; margin:10px;  /*box-shadow: 5px 5px 5px grey;*/
    }
}
body
{
    overflow-x: hidden;
}


    #event1
    { 
      height: 20vh;
      width: 100%;
      margin-bottom: 5%; 
      background-color: rgba(0,0,0,0.5);
      border-style: none;   


    
    }



    #event1:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }

    #event2
    {
        height: 20vh;
        width: 100%;
        margin-top: 5%;
        background-color: rgba(0,0,0,0.5);   
        border-style: none; 
    }
     #event2:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
    #event3
    {
        width: 100%; 
        height: 44vh;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);  
        border-style: none; 
    }
     #event3:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
    

    #event4
    {
    width: 100%; 
    height: 44vh;
    background-color: rgba(0,0,0,0.5);  
    border-style: none; 
    }

     #event4:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }

   #event5
   {
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5);
    border-style: none;    

   }


     #event5:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
    
   #event6
   {
    height: 20vh;
    width: 100%;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;   
   }


     #event6:hover
    { 
       
      box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
    }
    

   @media(max-width:768px)
   {
       .content2
       {
           padding-left: 20px;
           padding-right: 20px;
       }
       #event1
       { 
         height: 20vh;
         width: 100%;
         margin-bottom: 5%;
         background-color: rgba(0,0,0,0.5);   
       }
       #event2
       {
           height: 20vh;
           width: 100%;
           margin-top: 5%;
           margin-bottom: 5%;
           background-color: rgba(0,0,0,0.5);   
       }
       #event3
       {
           width: 100%; 
           height: 43vh;
           margin-bottom: 5%;
           background-color: rgba(0,0,0,0.5);  
       }
       
       #event4
       {
            width: 100%; 
            height: 43vh;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);  
       }
      #event5
      {
            height: 20vh;
            width: 100%;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);   
   
      }
      #event6
      {
            height: 20vh;
            width: 100%;
            margin-top: 5%;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);   
      }
   }
   


#event7
{ 
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;

 }

#event7:hover
{ 
       
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}
    

#event8
{
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;
      
}

#event8:hover
{ 
       
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

#event9
{
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5);   
    border-style: none;
}

#event9:hover
{ 
       
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

#event10
{
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;  
}

#event10:hover
{ 
       
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

#event11
{
    width: 100%; 
    height: 42vh;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;   

}

#event11:hover
{ 
       
   box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);

}

@media(max-width:768px)
{
    #event7
    { 
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5); 

    }
    #event8
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5); 
        
    }
    #event9
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);   
    }
    #event10
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);   
    }

    #event11
    {
        width: 100%; 
        height: 42vh;
        background-color: rgba(0,0,0,0.5);    

    }
}


.img-responsive {
    max-height: 120px; 
    max-width: 120px;
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
   
}
.title_text {
    width: 55%;
    height : auto;
    margin-top: 50px;
    margin-right: 10px;
    color: white;
    font-family:  'Anton', sans-serif ; 
    font-size: 2.5vw;
}
.title_text2 {
    width: 55%;
    height : auto;
    margin-top: 5%;
    margin-right: 10px;
    color: white;
    font-family:  'Anton', sans-serif ; 
    font-size: 2.5vw;
}
.info_text {
    width:55% ;
    margin-top: -10px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Muli', sans-serif;
    font-size: 1.5vw;
}

@media(max-width:768px)
{
    .img-responsive {
        max-height: 100px; 
        max-width: 100px;
        position: relative; 
        top: 50%; 
        transform: translateY(-50%); 
    }
    .title_text {
        width: 55%;
        height : auto;
        margin-top: 15%; 
        margin-right: 10px;
        color: white;
        font-family:  'Anton', sans-serif ; 
        font-size: 9vw;
    }
    .title_text2 {
        width: 55%;
        height : auto;
        margin-top: 5%; 
        margin-right: 10px;
        color: white;
        font-family:  'Anton', sans-serif ; 
        font-size: 8vw;
    }
    .info_text {
        width:55% ;
        margin-top: -10px;
        margin-right: 10px;
        color: rgba(255, 255, 255, 0.75);
        font-family: 'Muli', sans-serif;
        font-size: 5vw;
    }
}


#register_page {
    padding-left: 20px;
    padding-right: 20px;
}

.whycss {
    font-family :'Muli', sans-serif ;
     font-size : 2em; 
     color: white; 
     margin-top: 5%;
     color: white; 
    
}

@media ( max-width: 768px) {
    .whycss {
        font-family :'Muli', sans-serif ;
         font-size : 1.8em; 
         color: white; 
         margin-top: 5%;
         color: white; 
         margin-left: 0% ;
    }
}

.screen1
{
  height:25vh;
}
.screen2
{
  height:25vh;
}
.screen3
{
  height:50vh;
}
.screen4
{
  height:50vh;
}
.screen5
{
  height:25vh;
}
.screen6
{
  height:25vh;
}
.screen7
{
  height:25vh;
}
.screen8
{
  height:25vh;
}
.screen9
{
  height:25vh;
}
.screen10
{
  height:25vh;
}
.screen11
{
  height:50vh;
}


/* The element to apply the animation to */

.intro{
  position: absolute;
  width:70%;
  color: transparent;
  margin-right: auto;
  margin-left: auto;
  top:12%;
  left: 15%;
  font-size: 2em;
  font-family: 'Nova Oval', cursive;
	    font-family: 'Muli', sans-serif;
 
   animation: example 4s ease  ;
   animation-delay: 3s;
   -webkit-animation-fill-mode: forwards; /* Safari 4.0 - 8.0 */
    animation-fill-mode: forwards;
     animation-play-state:running;

    
}
/* The animation code */
@keyframes example {
    0% {color: transparent;}  
     50% {color: #e90186;}
    100% {color: white ;}


}
@media(max-width: 768px)
{
  .intro
  {
    font-size: 1em;
  }
}


/* letter drop  */

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,300,600,700,800);

.ibtn1
  {
    margin-top: 30%; background-color: transparent; border: 0px;
  }


@media(max-width: 768px)
{
  .ibtn1
  {
   display:none;
  }
}


