
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Anton|Muli:300);

body 
{

font-family: 'Roboto', sans-serif;
width: 100%;
height: 3238px;
background-image: url(../images/BG.png);
background-size: cover;
background-repeat: no-repeat;
background-position-x:center;
}

@media(max-width: 768px)
{
  body
  {
    background-image: url(../images/BG_mobile.png);
  }
}

footer
{
    background-color: transparent;
}

.popup1
{
	display:none;
	z-index:1001;
    
    width: 100%;
    height: 100%;
}
.popup2
{
    display:none;
    z-index:1001;
    
    width: 100%;
    height: 100%;
}
.con
{
    height: 80%; top:30; width: 50%; margin:10px;background-color: rgba(0,0,0,0.2);
}
@media(max-width:768px )
{
    .con
    {
        height: 80%; width: 90%; margin:10px;  /*box-shadow: 5px 5px 5px grey;*/
    }
}
body
{
    overflow-x: hidden;
}


    #event1
    { 
      height: 20vh;
      width: 100%;
      margin-bottom: 5%; 
      background-color: rgba(0,0,0,0.5);
      border-style: none;   
    }
    #event2
    {
        height: 20vh;
        width: 100%;
        margin-top: 5%;
        background-color: rgba(0,0,0,0.5);   
        border-style: none; 
    }
    #event3
    {
        width: 100%; 
        height: 44vh;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);  
        border-style: none; 
    }
    

    #event4
    {
    width: 100%; 
    height: 44vh;
    background-color: rgba(0,0,0,0.5);  
    border-style: none; 
    }
   #event5
   {
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5);
    border-style: none;    

   }
   #event6
   {
    height: 20vh;
    width: 100%;
    margin-top: 5%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;   
   }

   @media(max-width:768px)
   {
       .content2
       {
           padding-left: 20px;
           padding-right: 20px;
       }
       #event1
       { 
         height: 20vh;
         width: 100%;
         margin-bottom: 5%;
         background-color: rgba(0,0,0,0.5);   
       }
       #event2
       {
           height: 20vh;
           width: 100%;
           margin-top: 5%;
           margin-bottom: 5%;
           background-color: rgba(0,0,0,0.5);   
       }
       #event3
       {
           width: 100%; 
           height: 43vh;
           margin-bottom: 5%;
           background-color: rgba(0,0,0,0.5);  
       }
       
       #event4
       {
            width: 100%; 
            height: 43vh;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);  
       }
      #event5
      {
            height: 20vh;
            width: 100%;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);   
   
      }
      #event6
      {
            height: 20vh;
            width: 100%;
            margin-top: 5%;
            margin-bottom: 5%;
            background-color: rgba(0,0,0,0.5);   
      }
   }
   


#event7
{ 
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;

 }
#event8
{
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;
      
}
#event9
{
    height: 20vh;
    width: 100%;
    margin-bottom: 5%;
    background-color: rgba(0,0,0,0.5);   
    border-style: none;
}
#event10
{
    height: 20vh;
    width: 100%;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;  
}

#event11
{
    width: 100%; 
    height: 42vh;
    background-color: rgba(0,0,0,0.5); 
    border-style: none;   

}

@media(max-width:768px)
{
    #event7
    { 
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5); 

    }
    #event8
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5); 
        
    }
    #event9
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);   
    }
    #event10
    {
        height: 20vh;
        width: 100%;
        margin-bottom: 5%;
        background-color: rgba(0,0,0,0.5);   
    }

    #event11
    {
        width: 100%; 
        height: 42vh;
        background-color: rgba(0,0,0,0.5);    

    }
}


.img-responsive {
    max-height: 120px; 
    max-width: 120px;
    position: relative; 
    top: 50%; 
    transform: translateY(-50%); 
   
}
.title_text {
    width: 55%;
    height : auto;
    margin-top: 50px;
    margin-right: 10px;
    color: white;
    font-family:  'Anton', sans-serif ; 
    font-size: 2.5vw;
}
.title_text2 {
    width: 55%;
    height : auto;
    margin-top: 50px;
    margin-right: 10px;
    color: white;
    font-family:  'Anton', sans-serif ; 
    font-size: 2.5vw;
}
.info_text {
    width:55% ;
    margin-top: -10px;
    margin-right: 10px;
    color: rgba(255, 255, 255, 0.75);
    font-family: 'Muli', sans-serif;
    font-size: 1.5vw;
}

@media(max-width:768px)
{
    .img-responsive {
        max-height: 100px; 
        max-width: 100px;
        position: relative; 
        top: 50%; 
        transform: translateY(-50%); 
    }
    .title_text {
        width: 55%;
        height : auto;
        margin-top: 15%; 
        margin-right: 10px;
        color: white;
        font-family:  'Anton', sans-serif ; 
        font-size: 9vw;
    }
    .title_text2 {
        width: 55%;
        height : auto;
        margin-top: 5%; 
        margin-right: 10px;
        color: white;
        font-family:  'Anton', sans-serif ; 
        font-size: 8vw;
    }
    .info_text {
        width:55% ;
        margin-top: -10px;
        margin-right: 10px;
        color: rgba(255, 255, 255, 0.75);
        font-family: 'Muli', sans-serif;
        font-size: 5vw;
    }
}


#register_page {
    padding-left: 20px;
    padding-right: 20px;
}




.screen1
{
  height:25vh;
}
.screen2
{
  height:25vh;
}
.screen3
{
  height:50vh;
}
.screen4
{
  height:50vh;
}
.screen5
{
  height:25vh;
}
.screen6
{
  height:25vh;
}
.screen7
{
  height:25vh;
}
.screen8
{
  height:25vh;
}
.screen9
{
  height:25vh;
}
.screen10
{
  height:25vh;
}
.screen11
{
  height:50vh;
}