
@import url(https://fonts.googleapis.com/css?family=Anton|Muli:300);

.scrollbtn{
  background-color: transparent;
  border-style: none;
}
.scrollbtn1{
  position: absolute;
    top: 92vh;
    left: 49.68%;
    width: 34px;
    height: 34px;
    margin-left: -12px;
    border-left: 4px solid white;
    border-bottom: 4px solid white;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    -webkit-animation: sdb04 2s infinite;
    animation: sdb04 2s infinite;
    box-sizing: border-box;
    z-index: 30;
  outline:none !important;
}
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}

.menu
{
	position: fixed;
	z-index:1001;
	width: 100%;
	height: 100%;

	background:rgba(18,9,40,0) ;
  
	display: none;

  
}
.menu-text
{ 

  padding-top: 10%;
  text-align: center;
  font-size: 2em;
  opacity: 1 !important;
  z-index: 1001;
  width: 30%;
  float: left;
  
  height: 100%;
  background-color:rgba(18,9,40,0.8);

}
/*Box animation*/


.boxes
{
  height: 50vh;
  
  background-color: white;
  margin: 0px !important;

  
}

@media(max-width: 768px){
  .menu-text
{
  padding-top: 180px;

  text-align: center;
  font-size: 0.5em;
  opacity: 1 !important;
  z-index: 1001;
  width: 75%;
  float: left;

  height: 100%;

}
/*Box animation*/
#menu-half
{
  width: 25%;
  height: 100%;
  float: right;

}



.img-responsive{
  height: 100vh !important;
}


#contact_box{

  height: 100%; width: 30%; margin:10px; box-shadow: 5px 5px 5px grey; 
}


.boxes
{
  height: 100vh;

  background-color: white;
  margin: 0px !important;
  
}


}

.menu-text > button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: white;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  
}
.span{
  display: block;
  padding: 15px 40px;
}
.menu-text > button::before, .menu-text > button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
}

.span::before, .span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: white;
}
.menu-text > button:hover::before,.menu-text > button:hover::after{
  width: 100%;
}
.menu-text > button:hover .span::before,.menu-text  > button:hover .span::after{
  height: 100%;
}
/*----- button 1 -----*/
.btn-1::before, .btn-1::after{
  transition-delay: 0.2s;
}
.btn-1 .span::before, .btn-1 .span::after{
  transition-delay: 0s;
}
.btn-1::before{
  right: 0;
  top: 0;
}
.btn-1::after{
  left: 0;
  bottom: 0;
}
.btn-1 .span::before{
  left: 0;
  top: 0;
}
.btn-1 .span::after{
  right: 0;
  bottom: 0;
}
.btn-1:hover::before, .btn-1:hover::after{
  transition-delay: 0s;
}
.btn-1:hover .span::before, .btn-1:hover .span::after{
  transition-delay: 0.2s;
}


/*hamburger animated css: */
	.c-hamburger {
  display: block;
  position: fixed;
  z-index:1001;
  overflow: visible;
  margin: 0;
  padding: 0;
  width: 86px;
  height: 76px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger #span-hamburger {
  display: block;
  position: absolute;
  top: 24px;
  left: 18px;
  right: 40px;
  height: 3px;
  background: white;
}

.c-hamburger #span-hamburger::before,
.c-hamburger #span-hamburger::after {
  position: absolute;
  display: block;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: white;
  content: "";
}

.c-hamburger #span-hamburger::before {
  top: -10px;
}

.c-hamburger #span-hamburger::after {
  bottom: -10px;
}
.c-hamburger--htx {
  background-color: transparent;
}

.c-hamburger--htx #span-hamburger {
  transition: background 0s 0.3s;
}

.c-hamburger--htx #span-hamburger::before,
.c-hamburger--htx #span-hamburger::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx #span-hamburger::before {
  transition-property: top, transform;
}

.c-hamburger--htx #span-hamburger::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: transparent;
}

.c-hamburger--htx.is-active #span-hamburger {
  background: none;
}

.c-hamburger--htx.is-active #span-hamburger::before {
  top: 0;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active #span-hamburger::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active #span-hamburger::before,
.c-hamburger--htx.is-active #span-hamburger::after {
  transition-delay: 0s, 0.3s;
}

.modal{

  background-color: rgba(0,0,0,0.8);

}

.modal-content{
  top: 15vh;
  height: 65vh;
  background-color: rgba(0,0,0,0.8)
}

.modal-footer .btn{
  border-style: none;
  background-color: black;
  text-decoration: underline;
  color: white;
  outline: none;
}

.modal-footer .btn:active{
  background-color: black;
  outline: none;
}

.modal-title {

  height: 70px;
  color: white;
  font-family:  'Anton', sans-serif ; 
  font-size: 2em;
}
.modal-body {
    
  color: white;
    font-family:  'Muli', sans-serif ; 
    font-size: 1em;
}
.modal-footer {

  color : white;
  text-align: left;
  font-family : 'Muli', sans-serif ;
  font-size: 2em;

}

.googleform {
   width: 100%
}

.btn-pink {
  width: 30%;
  background-color: rgba(170, 2, 89, 0.7);
  border-style: none;
  font-family: 'Muli', sans-serif;
  font-size: 2em;
}
.btn-pink:active

@media(max-width: 768px)
 {
    .modal-content{
    top: 15vh;
    height: 65vh;
    /* width: 74vw; */
}
 }

 #menu-half
{
  width: 70%;
  height: 100%;
  float: right;
  background-color: transparent;
}