/*LOADING*/

html, body {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  position: fixed;
  left: 0;
}


.spinner-wrapper {
position: fixed;
top: 0;
left: 0;
right: 0;
bottom: 0;
background: linear-gradient(45deg, #6fc7b5 0%, #13bdce 20%, #0094d9 40%, #5a3694 60%, #ee4d74 80%, #f58c58 100%);
background-size: 600%;
background-position: 0% 100%;
-webkit-animation: gradient 7s ease-in-out infinite;
animation: gradient 7s ease-in-out infinite;
position: absolute;
z-index: 999999;
}

.loading {
  width: 100%;
  height: 100%;
}
.loading * {
  position: absolute;
   left: 50%; /* changed HERE */
  top: 50%;
  -webkit-transform: translate3d(-50%, -50%, 0) rotate(0deg);
          transform: translate3d(-50%, -50%, 0) rotate(0deg);
}
.loading .logo {
  background-repeat: no-repeat;
  background-position: center;
  width: 180px;
  height: 100%;
}
.loading .dots.animate .dot {
  -webkit-animation: loading-block 3.5s ease-in-out infinite;
          animation: loading-block 3.5s ease-in-out infinite;
}
.loading .dots.animate .dot:after {
  -webkit-animation: loading-dot 3.5s ease-in-out infinite;
          animation: loading-dot 3.5s ease-in-out infinite;
}
.loading .dots .dot {
  width: 300px;
  height: 300px;
}
.loading .dots .dot:after {
  content: "";
  display: inline-block;
  width: 60px;
  height: 60px;
  background-color: #fff;
  border-radius: 50%;
  position: absolute;
  -webkit-transform: scale(0.17);
          transform: scale(0.17);
}
.loading .dots .dot:nth-child(1) {
  top: 120px;
  left: -209px;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .dots .dot:nth-child(1):after {
  -webkit-transform-origin: top right;
          transform-origin: top right;
  top: 0;
  right: 0;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.loading .dots .dot:nth-child(2) {
  top: -161px;
  left: -194px;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loading .dots .dot:nth-child(2):after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  bottom: 0;
  right: 0;
  -webkit-animation-delay: 0.25s;
          animation-delay: 0.25s;
}
.loading .dots .dot:nth-child(3) {
  top: -161px;
  left: -101px;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .dots .dot:nth-child(3):after {
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  bottom: 0;
  right: 0;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.loading .dots .dot:nth-child(4) {
  top: 116px;
  left: 200px;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading .dots .dot:nth-child(4):after {
  -webkit-transform-origin: top left;
          transform-origin: top left;
  top: 0;
  left: 0;
  -webkit-animation-delay: 0.75s;
          animation-delay: 0.75s;
}
.loading .dots .dot:nth-child(5) {
  top: -161px;
  left: 214px;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}
.loading .dots .dot:nth-child(5):after {
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
  bottom: 0;
  left: 0;
  -webkit-animation-delay: 1s;
          animation-delay: 1s;
}

@-webkit-keyframes loading-block {
  71.4285714286%,100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}

@keyframes loading-block {
  71.4285714286%,100% {
    -webkit-transform: translate3d(-50%, -50%, 0) rotate(360deg);
            transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}
@-webkit-keyframes loading-dot {
  0%,71.4285714286%,100% {
    -webkit-transform: scale(0.17);
            transform: scale(0.17);
  }
  35.7142857143% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@keyframes loading-dot {
  0%,71.4285714286%,100% {
    -webkit-transform: scale(0.17);
            transform: scale(0.17);
  }
  35.7142857143% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}
@-webkit-keyframes gradient {
  50% {
    background-position: 100% 0%;
  }
}
@keyframes gradient {
  50% {
    background-position: 100% 0%;
  }
}


/*Menu*/

body {
  position: relative;
  font-family: 'Montserra', sans-serif;
  margin: 0;
}

h1 {
  font-size: 50px;
  color: white;
}

p {
  color: white;
}

.hamburger {
  position: absolute;
  left: 40px;
  top: 55px;
  cursor: pointer;
}
.hamburger i {
  font-size: 30px;
  color: white;
}

.nav-offcanvas {
  width: 250px;
  background-image: url("../imgs/picblr.jpg");
  background-size: 1366px;
  height: 100vh;
  position: absolute;
  overflow-x: auto;
  z-index: 2000;
  padding: 50px 0;
  top: 0;
  left: -300px;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);


}
.nav-offcanvas .close {
  position: absolute;
  right: 10px;
  top: 20px;
  outline: 0;
  opacity: 1;
  background: transparent;
  border: none;
  box-shadow: none;
  cursor: pointer;
  transition: .3s ease;
}
.nav-offcanvas .close i {
  font-size: 15px;
  color: white;
  text-shadow: none;
}
.nav-offcanvas .close:hover {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.nav-offcanvas-menu ul {
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}
.nav-offcanvas-menu ul li a {
  color: white;
  text-align: left;
  top: 20px;
  font-size: 18px;
  font-weight: 200;
  padding: 15px 20px;
  display: block;
  text-decoration: none;
  position: relative;
  z-index: 1;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0.05s;
}
.nav-offcanvas-menu ul li a:hover {
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}
.nav-offcanvas.open {
  left: 0;
}

.offcanvas-overlay {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1999;
  transition: 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
  visibility: hidden;
  opacity: 0;
}
.offcanvas-overlay.on {
  opacity: 1;
  visibility: visible;
}




/*----------------------
SIGN IN
---------------------*/
@import url('https://fonts.googleapis.com/css?family=Raleway');

body{font-family: 'Raleway', sans-serif ;}



.btn{
  margin-top: -320px;
  margin-right: -80px;
  background-color:#2cbf27;
  border-radius: 20px;
  border-color: white;
  font-size: 13px;
}

.tab-style{
font-size:20px;
width:50%;
background-color:#f2f2f2;
  text-align:center;


}
.nav-tabs > li > a {
    margin-right: 0px;
    color:grey;
}



.group2 {
	position: relative;
	margin-top: 16px;
}

.btn-block{margin-top:20px;
margin-bottom:20px;
font-size:18px;}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {   background-color:#e5ecf4;
color:#4add66;}

.login-shadow{-webkit-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
-moz-box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
box-shadow: 5px -5px 6px 0px rgba(82,82,82,0.52);
  z-index:1;

}

.signup-shadow{-webkit-box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);
-moz-box-shadow: -5px -5px 6px 0px rgba(82,82,82,0.52);
box-shadow: -5px 0px 6px 0px rgba(82,82,82,0.52);

}


.modal-header{background-color:#e5ecf4;}

.group {
	position: relative;
	margin-top: 30px;
}


.input {
	font-size: 18px;
	padding: 10px 10px 10px 5px;
	-webkit-appearance: none;
	display: block;
	background: none;
	color: #403e3e;
	width: 100%;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #757575;
}

.input:focus { outline: none; }


/* Label */

.label {
	color: #464343;
	font-size: 18px;
	font-weight: normal;
	position: absolute;
	pointer-events: none;
	left: -10px;
	top: 10px;
	transition: all 0.2s ease;
}


/* active */

.input:focus ~ .label, .input.used ~ .label {
	top: -20px;
  transform: scale(.75); left:-15px;
	/* font-size: 14px; */
	color: #4a89dc;
}


/* Underline */

.bar {
	position: relative;
	display: block;
	width: 100%;
}

.bar:before, .bar:after {
	content: '';
	height: 2px;
	width: 0;
	bottom: 1px;
	position: absolute;
	background: #4a89dc;
	transition: all 0.2s ease;
}

.bar:before { left: 50%; }

.bar:after { right: 50%; }


/* active */

.input:focus ~ .bar:before, .input:focus ~ .bar:after { width: 50%; }


/* Highlight */

.highlight {
	position: absolute;
	height: 60%;
	width: 100px;
	top: 25%;
	left: 0;
	pointer-events: none;
	opacity: 0.5;
}


/* active */

.input:focus ~ .highlight {
	animation: inputHighlighter 0.3s ease;
}


@media  screen and (max-width: 767px) and (min-width: 576px){
  #myModal{margin-left:20%;
            margin-right:20%;}

  #forgot-password{margin-left:20%;
            margin-right:20%;}
}


@media screen and (min-width: 768px) {

	#myModal .modal-dialog  {width:500px;}

  #forgot-password .modal-dialog{width:500px;}

  .modal-body{padding-left:50px;
              padding-right:50px;}
}


.modal-body{background-image: url("../imgs/4542.jpg");
background-size:cover;
z-inedx:4;}

em{display:none;}





/*Responsive Card*/

@import url("https://fonts.googleapis.com/css?family=Fira+Sans:400,500,600,700,800");
* {
  box-sizing: border-box;
}

body {
  background-color: #FFE53B;
  background-image: url("../imgs/21.jpg");
  min-height: 100vh;
  font-family: 'Fira Sans', sans-serif;
  display: flex;
}

#slide2{
  background-image: url("../imgs/dance.jpg");



}

#slide3{
  background-image: linear-gradient( 135deg, #FFA6B7 10%, #1E2AD2 100%);
}

#slide4{
background-image: url("../imgs/6.jpg");

}
#slide5{
  background-image: url("../imgs/green.jpg");
  background-size: cover;
}

.blog-slider {
  width: 95%;
  position: relative;
  max-width: 800px;
  margin: auto;
  background: #fff;
  box-shadow: 0px 14px 80px rgba(34, 35, 58, 0.2);
  padding: 25px;
  border-radius: 25px;
  height: 400px;
  transition: all .3s;
}
@media screen and (max-width: 992px) {
  .blog-slider {
    max-width: 680px;
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  .blog-slider {
    min-height: 500px;
    height: auto;
    margin: 180px auto;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider {
    height: 350px;
  }
}
.blog-slider__item {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 768px) {
  .blog-slider__item {
    flex-direction: column;
  }
}
.blog-slider__item.swiper-slide-active .blog-slider__img img {
  opacity: 1;
  transition-delay: .3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > * {
  opacity: 1;
  transform: none;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(1) {
  transition-delay: 0.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(2) {
  transition-delay: 0.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(3) {
  transition-delay: 0.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(4) {
  transition-delay: 0.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(5) {
  transition-delay: 0.7s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(6) {
  transition-delay: 0.8s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(7) {
  transition-delay: 0.9s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(8) {
  transition-delay: 1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(9) {
  transition-delay: 1.1s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(10) {
  transition-delay: 1.2s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(11) {
  transition-delay: 1.3s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(12) {
  transition-delay: 1.4s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(13) {
  transition-delay: 1.5s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(14) {
  transition-delay: 1.6s;
}
.blog-slider__item.swiper-slide-active .blog-slider__content > *:nth-child(15) {
  transition-delay: 1.7s;
}
.blog-slider__img {
  width: 300px;
  flex-shrink: 0;
  height: 300px;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  box-shadow: 4px 13px 30px 1px rgba(23, 29, 25, 0.24);
  border-radius: 20px;
  transform: translateX(-80px);
  overflow: hidden;
}
.blog-slider__img:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  border-radius: 20px;
  opacity: 0;
}
.blog-slider__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  opacity: 0;
  border-radius: 20px;
  transition: all .3s;
}
@media screen and (max-width: 768px) {
  .blog-slider__img {
    transform: translateY(-50%);
    width: 90%;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__img {
    width: 95%;
  }
}
@media screen and (max-height: 500px) and (min-width: 992px) {
  .blog-slider__img {
    height: 270px;
  }
}
.blog-slider__content {
  padding-right: 25px;
}
@media screen and (max-width: 768px) {
  .blog-slider__content {
    margin-top: -80px;
    text-align: center;
    padding: 0 30px;
  }
}
@media screen and (max-width: 576px) {
  .blog-slider__content {
    padding: 0;
  }
}
.blog-slider__content > * {
  opacity: 0;
  transform: translateY(25px);
  transition: all .4s;
}
.blog-slider__code {
  color: #7b7992;
  margin-bottom: 15px;
  display: block;
  font-weight: 500;
}
.blog-slider__title {
  font-size: 24px;
  font-weight: 700;
  color: #0d0925;
  margin-bottom: 20px;
  font-family: 'Cinzel', serif;
}
.blog-slider__text {
  color: #4e4a67;
  margin-bottom: 30px;
  line-height: 1.5em;
  font-family: 'Roboto Slab', serif;
}
.blog-slider__button {
  display: inline-flex;
  background-image: linear-gradient(to right, #43e97b 0%, #38f9d7 100%);
  padding: 15px 35px;
  border-radius: 50px;
  color: #fff;
  box-shadow: 0px 14px 80px rgba(67, 233, 123, 0.4);
  text-decoration: none;
  font-weight: 500;
  justify-content: center;
  text-align: center;
  letter-spacing: 1px;
}
@media screen and (max-width: 576px) {
  .blog-slider__button {
    width: 100%;
  }
}
.blog-slider .swiper-container-horizontal > .swiper-pagination-bullets, .blog-slider .swiper-pagination-custom, .blog-slider .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.blog-slider__pagination {
  position: absolute;
  z-index: 21;
  right: 20px;
  width: 11px !important;
  text-align: center;
  left: auto !important;
  top: 50%;
  bottom: auto !important;
  transform: translateY(-50%);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination {
    transform: translateX(-50%);
    left: 50% !important;
    top: 205px;
    width: 100% !important;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 8px 0;
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination.swiper-pagination-bullets .swiper-pagination-bullet {
    margin: 0 5px;
  }
}

.blog-slider__pagination .swiper-pagination-bullet {
  width: 11px;
  height: 11px;
  display: block;
  border-radius: 10px;
  background: #062744;
  opacity: 0.2;
  transition: all .3s;
}
.blog-slider__pagination .swiper-pagination-bullet-active {
  opacity: 1;
  background: #43e97b;
  height: 30px;
  box-shadow: 0px 0px 20px rgba(252, 56, 56, 0.3);
}
@media screen and (max-width: 768px) {
  .blog-slider__pagination .swiper-pagination-bullet-active {
    height: 11px;
    width: 30px;
  }
}
